@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);

	--paragraph-text: 13px;
	--inter-font: 'Inter', sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--inter-font);
	font-weight: 400;
}

.container {
	width: 70%;
	margin: 0 auto;
	max-width: 1440px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.btn-menu {
	display: none;
}

.nav-links {
	display: flex;
	align-items: center;
}

.nav-links li {
	list-style-type: none;
}

.nav-link {
	text-decoration: none;
	color: var(--very-dark-blue);
	padding: 0 5px;
	margin: 0 8px;
	font-size: 13px;
}

.nav-link:hover {
	color: var(--soft-orange);
}

.last {
	padding-right: 0;
	margin-right: 0;
}

.headlines-section {
	display: grid;
	grid-template-areas:
		'coveri coveri new'
		'question answer new';
	gap: 16px;
}

.grid-item:first-child {
	padding-top: 0;
	padding-left: 0;
}

.headlines-cover-mobile {
	display: none;
}

.headlines-cover {
	grid-area: coveri;
	max-width: 630px;
}

.new-blogs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	grid-area: new;
	background-color: var(--very-dark-blue);
	color: var(--off-white);
	padding: 28px;
}

.new-blogs > hr {
	border: var(--dark-grayish-blue) 1px solid;
}

.new-blogs > h1 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--soft-orange);
}

.title {
	font-size: 1rem;
	margin: 5px 0;
	cursor: pointer;
}

.title:hover {
	color: var(--soft-orange);
}

.body {
	font-size: var(--paragraph-text);
	color: var(--grayish-blue);
}

.question {
	grid-area: question;
	font-size: 3rem;
	font-weight: 800;
	color: var(--very-dark-blue);
	line-height: 1;
}

.answer {
	grid-area: answer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1.35;
	letter-spacing: 0.7px;
	font-size: var(--paragraph-text);
}

.btn-primary {
	display: block;
	border: none;
	background-color: var(--soft-red);
	padding: 15px 28px;
	margin-top: 12px;
	letter-spacing: 2.5px;
	font-size: 11px;
	width: fit-content;
	cursor: pointer;
	color: var(--off-white);
}

.btn-primary:hover {
	background-color: var(--very-dark-blue);
	color: var(--off-white);
}

.trending-section {
	display: flex;
	margin: 75px 0;
	justify-content: space-between;
	width: 100%;
}

.card {
	display: flex;
}

.card-image {
	width: 80px;
	height: 102px;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 10px;
}

.card-number {
	color: var(--grayish-blue);
}

.card-title {
	font-weight: 800;
	cursor: pointer;
}

.card-title:hover {
	color: var(--soft-red);
}

.card-desc {
	font-size: var(--paragraph-text);
	line-height: 1.475;
	color: rgba(0, 0, 0, 0.6);
}

/* For Mobile */

@media (max-width: 500px) {
	.container {
		width: 90%;
	}

	.logo {
		width: 55px;
	}

	.nav-links {
		display: none;
	}

	.btn-menu {
		display: block;
		border: none;
		background-color: white;
		z-index: 99;
	}

	.headlines-section {
		display: flex;
		flex-direction: column;
	}

	.headlines-cover {
		display: none;
	}

	.headlines-cover-mobile {
		display: block;
		width: 100%;
	}

	.new-blogs {
		order: 6;
		height: 350px;
		width: 100%;
	}

	.answer {
		line-height: 1.7;
	}

	.trending-section {
		flex-direction: column;
	}

	.card {
		margin-bottom: 20px;
	}

	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.2);
	}

	.navbar-mobile {
		position: fixed;
		right: 0;
		top: 0;
		background-color: white;
		width: 230px;
		height: 100vh;
		padding: 120px 20px;
	}

	.nav-links-mobile li {
		margin-bottom: 20px;
		list-style-type: none;
	}

	.nav-link-mobile {
		color: black;
		text-decoration: none;
	}
}
