@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);

	--paragraph-text: 14px;
	--inter-font: 'Inter', sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--inter-font);
	font-weight: 400;
}

.container {
	width: 70%;
	margin: 0 auto;
	max-width: 1440px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.nav-links {
	display: flex;
	align-items: center;
}

.nav-links li {
	list-style-type: none;
}

.nav-link {
	text-decoration: none;
	color: var(--very-dark-blue);
	padding: 0 5px;
	margin: 0 8px;
	font-size: 13px;
}

.last {
	padding-right: 0;
	margin-right: 0;
}

.headlines-section {
	display: grid;
	grid-template-areas:
		'coveri coveri new'
		'question answer new';
}

.grid-item:first-child {
	padding-top: 0;
	padding-left: 0;
}

.grid-item {
	padding: 10px 15px;
}

.headlines-cover {
	grid-area: coveri;
	max-width: 650px;
}

.new-blogs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	grid-area: new;
	background-color: var(--very-dark-blue);
	color: var(--off-white);
	padding: 28px;
}

.new-blogs > hr {
	border: var(--dark-grayish-blue) 1px solid;
}

.new-blogs > h1 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--soft-orange);
}

.title {
	font-size: 1rem;
	margin: 5px 0;
}

.body {
	font-size: var(--paragraph-text);
	color: var(--grayish-blue);
}

.question {
	grid-area: question;
	font-size: 3rem;
	font-weight: 800;
	color: var(--very-dark-blue);
	line-height: 1;
}

.answer {
	grid-area: answer;
	line-height: 1.28;
	font-size: var(--paragraph-text);
}

.btn-primary {
	display: block;
	border: none;
	background-color: var(--soft-orange);
	padding: 10px 25px;
	margin: 12px 0;
}
